@model Attendance.Domain.Models.MenuItemDto
@using System.Security.Claims
@using Attendance.Domain.Models
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-inner container-fluid">
    @{
        ViewBag.Breadcrumbs = new List<Attendance.Domain.Models.BreadcrumbItem>
        {
        new BreadcrumbItem { Title = "Dashboard", Url = Url.Action("Dashboard", "Dashboard"), IsActive = false },
        new BreadcrumbItem { Title = "MenuMaster", Url = Url.Action("MenuMaster", "MenuMaster"), IsActive = false },
        new BreadcrumbItem { Title = "MasterView", Url = Url.Action("MenuMaster", "MasterView"), IsActive = false },
        new BreadcrumbItem { Title = "Edit", Url = "", IsActive = true }
        };
    }
    <div class="col-12">
        <div class="page-title-box" style="margin-top:20px;">
            <h1 class="page-title">Update Menu Item</h1>
        </div>
    </div>
    <div class="col-12">
        <div class="card com-profile-info">
            <form class="form" id="userForm" method="post" asp-action="UpdateMenuItem" asp-controller="MenuItem">
                <input type="hidden" asp-for="MenuItemId" />
                <div class="top-details">
                    <h2 class="page-form-title">Update Menu Item</h2>
                    <div class="item-input">
                        <label for="MenuName" class="form-label required">Menu Name</label>
                        <select class="form-select" asp-for="MenuId" name="MenuId" style="width:359.46px; height:48px;" required>
                            <option value="">Select Menu</option>
                            @foreach (var item in ViewBag.Menus)
                            {
                                <option value="@item.MenuId" selected="@(item.MenuId == Model.MenuId ? "selected" : null)">@item.MenuName</option>
                            }
                        </select>
                    </div>
                    <div class="item-input mt-3">
                        <label for="ParentId" class="form-label required">Parent Menu</label>
                        <select class="form-select" asp-for="ParentId" name="ParentId" style="width:359.46px; height:48px;">
                            <option value="">Select Parent</option>
                            @foreach (var item in ViewBag.Menus)
                            {
                                <option value="@item.Menuid" selected="@(item.Menuid == Model.ParentId ? "selected" : null)">@item.MenuName</option>
                            }
                        </select>
                    </div>

                    <div class="item-input mt-3">
                        <label for="SortingOrder" class="form-label">Sorting Order</label>
                        <input type="text" asp-for="SortingOrder" class="form-control"  placeholder="Enter Sorting Order"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')" style="width:359.46px; height:48px;" required />
                    </div>
                </div>
                <div class="col-xl-6" style="margin-left:30px;">
                    @if (ViewBag.msg != null)
                    {
                        <div class="usermsg" id="temporaryMessage">
                            <span style="color:#00af00;font-weight:600;">@ViewBag.msg</span>
                        </div>
                    }
                    else
                    {
                        <div class="usermsg" id="temporaryMessage">
                            <span style="color:#d21313;font-weight:600;"> @ViewBag.errormsg</span>
                        </div>
                    }
                </div>
                <div class="button-main">

                    <button type="submit" class="btn btn-primary me-2" style="width:95px;height:38px;background-color: #0466c8;">Update</button>
                    @*<button type="submit" formaction="@Url.Action("MasterView", "MenuMaster")" class="btn btn-primary me-2" style="width:95px;height:38px;background-color: #0466c8;">View</button>*@
                    <a class="btn btn-primary me-2" href="/MenuItem/MenuItemView" style=" width: 95px;height: 38px;background-color: #0466c8;">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
