@model Attendance.Domain.Models.ModuleMasterDto
@using System.Security.Claims
@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	var openPanel = TempData["OpenPanel"]?.ToString() ?? "module"; // default tab
	var openView = TempData["OpenView"]?.ToString() ?? "";
}

<head>

	<link href="~/css/mastertable.css" rel="stylesheet" />
</head>
<body>
	<div class="main-inner container-fluid">
		<div class="col-12">
			<div class="card com-profile-info">

				<div class="main-inner container" style="max-width:900px; margin-top:20px; margin-left:inherit;margin-bottom:40px;">
					<h1 class="page-title mb-4">Master Table</h1>

					<!-- ===== Tabs Header ===== -->
					<ul class="nav nav-tabs" id="masterTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link @(openPanel=="module" ? "active" : "")" data-bs-toggle="tab" href="#tab-module" role="tab">Module</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(openPanel=="dept" ? "active" : "")" data-bs-toggle="tab" href="#tab-dept" role="tab">Department</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(openPanel=="desig" ? "active" : "")" data-bs-toggle="tab" href="#tab-desig" role="tab">Designation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(openPanel=="leave" ? "active" : "")" data-bs-toggle="tab" href="#tab-leave" role="tab">Leave</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(openPanel=="Holiday" ? "active" : "")" data-bs-toggle="tab" href="#tab-Holiday" role="tab">Holiday</a>
						</li>
					</ul>

					<!-- ===== Tabs Content ===== -->
					<div class="tab-content p-3 border border-top-0 rounded-bottom bg-white">

						<!-- Module Tab -->
						<div class="tab-pane fade @(openPanel=="module" ? "show active" : "")" id="tab-module" role="tabpanel">
							<form method="post" action="@Url.Action("ModuleMaster","Master")">
								<div class="mb-3" style="margin-left:15px;">
									<input type="hidden" id="ModuleId" name="Id" />
									<label for="ModuleName" class="form-label">Module Name</label>
									<input id="ModuleName" name="ModuleName" class="form-control" required placeholder="Enter Module Name" style="width:370px;">
								</div>
								<div class="col-xl-6" style="margin-left:30px;">
									<div class="col-xl-6">
										@if (TempData["ModelSuccessMsg"] != null)
										{
											<div class="usermsg" id="temporaryMessage">
												<span style="color:#00af00;font-weight:600;">@TempData["ModelSuccessMsg"]</span>
											</div>
										}
										else
										{
											<div class="usermsg" id="temporaryMessage">
												<span style="color:#d21313;font-weight:600;"> @TempData["ModelErrorMsg"]</span>
											</div>
										}
									</div>
								</div>
								<div class="d-flex gap-2" style="margin-bottom:30px; margin-left:15px;">
									<button type="submit" id="btnAdd-module" class="btn btn-primary">Add</button>
									<button type="submit" id="btnUpdate-module" class="btn btn-primary"
											formaction="@Url.Action("UpdateModule","Master")"
											style="display:none;">
										Update
									</button>
									<button type="button" class="btn btn-primary" onclick="resetModuleForm()">Cancel</button>

								</div>
							</form>
							<div class="app-content px-lg-3" style="padding-left:0px;padding-right:0px;">
								<div class="app-container container-fluid" style="padding-left:0px;padding-right:0px;">

									<div id="modulelist">
										<div class="card com-profile-info">
											<div class="row mt-3">
											</div>

											<div class="table-top-header">
												<h4>List of Module</h4>

												<div class="d-flex gap-2">
													<div class="table-search-box">
														<input type="text" id="customcorporateSearch" class="form-control form-control-sm" placeholder="Search...">
														<button type="submit"><i class="ri-search-line"></i></button>
													</div>

													<div id="exportcorporateButtons" class="btn-group" role="group" style="display:none;"></div>
												</div>
											</div>
											<div class="table-responsive">

												<table id="corporateTable" class="table dt-responsive nowrap w-100">
													<thead>
														<tr>
															<th>Name</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
												<div id="dataLoader" class=" justify-content-center" style="display:none; margin-left: 598px;">
													<div class="spinner-border" role="status">
														<span class="visually-hidden">Loading...</span>
													</div>
												</div>
											</div>
											<!-- Bottom Area -->
											<div class="datatable-footer-bottom">
												<div class="totle-left">
													<span id="totalRemindersCorporate">Total List: 3</span>
												</div>
												<div id="customcorporatePagination" class="dataTables_paginate paging_simple_numbers"></div>
												<div class="show-page">
													<span>Show per page:</span>
													<select id="pageLength" class="form-select">
														<option value="5">5 </option>
														<option value="10" selected>10 </option>
														<option value="25">25</option>
														<option value="50">50</option>
														<option value="-1">All</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Department Tab -->
						<div class="tab-pane fade @(openPanel=="dept" ? "show active" : "")" id="tab-dept" role="tabpanel">
							<form method="post" action="@Url.Action("Department","Master")">
								<div class="mb-3" style="margin-left:15px;">
									<input type="hidden" id="DepartmentId" name="Id" />
									<label for="Name" class="form-label">Department Name</label>
									<input id="Name" name="Name" class="form-control" required placeholder="Enter Department Name" style="width:370px;">
								</div>
								<div class="col-xl-6" style="margin-left:30px;">
									<div class="col-xl-6">
										@if (TempData["DeptSuccessMsg"] != null)
										{
											<div class="usermsg" id="deptTemporaryMessage">
												<span style="color:#00af00;font-weight:600;">@TempData["DeptSuccessMsg"]</span>
											</div>
										}
										else
										{
											<div class="usermsg" id="deptTemporaryMessage">
												<span style="color:#d21313;font-weight:600;"> @TempData["DeptErrorMsg"]</span>
											</div>
										}
									</div>
								</div>
								<div class="d-flex gap-2" style="margin-bottom:30px; margin-left:15px;">
									<button type="submit" id="btnAdd-dept" class="btn btn-primary">Add</button>
									<button type="submit" id="btnUpdate-dept" formaction="/Master/UpdateDepartment" class="btn btn-primary" style="display:none;">Update</button>
									<button type="button" class="btn btn-primary" onclick="resetDepartmentForm()">Cancel</button>
								</div>
							</form>
							<div class="app-content px-lg-3" style="padding-left:0px;padding-right:0px;">
								<div class="app-container container-fluid" style="padding-left:0px;padding-right:0px;">

									<div id="departmentlist">
										<div class="card com-profile-info">
											<div class="row mt-3">
											</div>

											<div class="table-top-header">
												<h4>List of Department</h4>

												<div class="d-flex gap-2">
													<div class="table-search-box">
														<input type="text" id="departmentSearch" class="form-control form-control-sm" placeholder="Search...">
														<button type="submit"><i class="ri-search-line"></i></button>
													</div>

													<div id="exportcorporateButtons" class="btn-group" role="group" style="display:none;"></div>
												</div>
											</div>
											<div class="table-responsive">

												<table id="DepartmentTable" class="table dt-responsive nowrap w-100">
													<thead>
														<tr>
															<th>Name</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
												<div id="dataLoader" class=" justify-content-center" style="display:none; margin-left: 598px;">
													<div class="spinner-border" role="status">
														<span class="visually-hidden">Loading...</span>
													</div>
												</div>
											</div>
											<!-- Bottom Area -->
											<div class="datatable-footer-bottom">
												<div class="totle-left">
													<span id="totalRemindersDepartment">Total List: 3</span>
												</div>
												<div id="DepartmentPagination" class="dataTables_paginate paging_simple_numbers"></div>
												<div class="show-page">
													<span>Show per page:</span>
													<select id="departmentpageLength" class="form-select">
														<option value="5">5 </option>
														<option value="10" selected>10 </option>
														<option value="25">25</option>
														<option value="50">50</option>
														<option value="-1">All</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Designation Tab -->
						<div class="tab-pane fade @(openPanel=="desig" ? "show active" : "")" id="tab-desig" role="tabpanel">
							<form method="post" action="@Url.Action("Designation","Master")">
								<div class="mb-3" style="margin-left:15px;">
									<input type="hidden" id="DesignationId" name="Id" />
									<label for="DesignationName" class="form-label">Designation Name</label>
									<input id="DesignationName" name="DesignationName" class="form-control" required placeholder="Enter Designation Name" style="width:370px;">
								</div>
								<div class="col-xl-6" style="margin-left:30px;">
									<div class="col-xl-6">
										@if (TempData["DesigSuccessMsg"] != null)
										{
											<div class="usermsg" id="desigtemporaryMessage">
												<span style="color:#00af00;font-weight:600;">@TempData["DesigSuccessMsg"]</span>
											</div>
										}
										else
										{
											<div class="usermsg" id="desigtemporaryMessage">
												<span style="color:#d21313;font-weight:600;"> @TempData["DesigErrorMsg"]</span>
											</div>
										}
									</div>
								</div>
								<div class="d-flex gap-2" style="margin-bottom:30px; margin-left:15px;">
									<button type="submit" id="btnAdd-designation" class="btn btn-primary">Add</button>
									<button type="submit" id="btnUpdate-designation"
											formaction="/Master/UpdateDesignation"
											class="btn btn-primary"
											style="display:none;">
										Update
									</button>
									<button type="button" class="btn btn-primary" onclick="resetDesignationForm()">Cancel</button>
								</div>
							</form>
							<div class="app-content px-lg-3" style="padding-left:0px;padding-right:0px;">
								<div class="app-container container-fluid" style="padding-left:0px;padding-right:0px;">

									<div id="designationlist">
										<div class="card com-profile-info">
											<div class="row mt-3">
											</div>

											<div class="table-top-header">
												<h4>List of Designation</h4>

												<div class="d-flex gap-2">
													<div class="table-search-box">
														<input type="text" id="designationSearch" class="form-control form-control-sm" placeholder="Search...">
														<button type="submit"><i class="ri-search-line"></i></button>
													</div>

													<div id="exportcorporateButtons" class="btn-group" role="group" style="display:none;"></div>
												</div>
											</div>
											<div class="table-responsive">

												<table id="DesignationTable" class="table dt-responsive nowrap w-100">
													<thead>
														<tr>
															<th>Name</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
												<div id="dataLoader" class=" justify-content-center" style="display:none; margin-left: 598px;">
													<div class="spinner-border" role="status">
														<span class="visually-hidden">Loading...</span>
													</div>
												</div>
											</div>
											<!-- Bottom Area -->
											<div class="datatable-footer-bottom">
												<div class="totle-left">
													<span id="totalRemindersDesignation">Total List: 3</span>
												</div>
												<div id="DesignationPagination" class="dataTables_paginate paging_simple_numbers"></div>
												<div class="show-page">
													<span>Show per page:</span>
													<select id="designationpageLength" class="form-select">
														<option value="5">5 </option>
														<option value="10" selected>10 </option>
														<option value="25">25</option>
														<option value="50">50</option>
														<option value="-1">All</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Leave Tab -->
						<div class="tab-pane fade @(openPanel=="leave" ? "show active" : "")" id="tab-leave" role="tabpanel">
							<form method="post" action="@Url.Action("Leave","Master")">
								<div class="mb-3" style="margin-left:15px;">
									<input type="hidden" id="LeaveMasterId" name="Id" />
									<label for="LeaveType" class="form-label">Leave Type</label>
									<input id="LeaveType" name="LeaveType" class="form-control" required placeholder="Enter Leave Type" style="width:370px;">
								</div>
								<div class="col-xl-6" style="margin-left:30px;">
									<div class="col-xl-6">
										@if (TempData["LeaveSuccessMsg"] != null)
										{
											<div class="usermsg" id="leavetemporaryMessage">
												<span style="color:#00af00;font-weight:600;">@TempData["LeaveSuccessMsg"]</span>
											</div>
										}
										else
										{
											<div class="usermsg" id="leavetemporaryMessage">
												<span style="color:#d21313;font-weight:600;"> @TempData["LeaveErrorMsg"]</span>
											</div>
										}
									</div>
								</div>
								<div class="d-flex gap-2" style="margin-bottom:30px; margin-left:15px;">
									<button type="submit" id="btnAdd-leave" class="btn btn-primary">Add</button>
									<button type="submit" id="btnUpdate-leave"
											formaction="/Master/UpdateLeave"
											class="btn btn-primary"
											style="display:none;">
										Update
									</button>
									<button type="button" class="btn btn-primary" onclick="resetLeaveForm()">Cancel</button>


								</div>
							</form>
							<div class="app-content px-lg-3" style="padding-left:0px;padding-right:0px;">
								<div class="app-container container-fluid" style="padding-left:0px;padding-right:0px;">

									<div id="leavemasterlist">
										<div class="card com-profile-info">
											<div class="row mt-3">
											</div>

											<div class="table-top-header">
												<h4>List of LeaveMaster</h4>

												<div class="d-flex gap-2">
													<div class="table-search-box">
														<input type="text" id="leavemasterSearch" class="form-control form-control-sm" placeholder="Search...">
														<button type="submit"><i class="ri-search-line"></i></button>
													</div>

													<div id="exportcorporateButtons" class="btn-group" role="group" style="display:none;"></div>
												</div>
											</div>
											<div class="table-responsive">

												<table id="LeavemasterTable" class="table dt-responsive nowrap w-100">
													<thead>
														<tr>
															<th>Name</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
												<div id="dataLoader" class=" justify-content-center" style="display:none; margin-left: 598px;">
													<div class="spinner-border" role="status">
														<span class="visually-hidden">Loading...</span>
													</div>
												</div>
											</div>
											<!-- Bottom Area -->
											<div class="datatable-footer-bottom">
												<div class="totle-left">
													<span id="totalRemindersleavemaster">Total List: 3</span>
												</div>
												<div id="LeaveMasterPagination" class="dataTables_paginate paging_simple_numbers"></div>
												<div class="show-page">
													<span>Show per page:</span>
													<select id="LeaveMasterpageLength" class="form-select">
														<option value="5">5 </option>
														<option value="10" selected>10 </option>
														<option value="25">25</option>
														<option value="50">50</option>
														<option value="-1">All</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Holiday Tab -->
						<div class="tab-pane fade @(openPanel=="Holiday" ? "show active" : "")" id="tab-Holiday" role="tabpanel">
							<form method="post" action="@Url.Action("Holiday","Master")">
								<div class="mb-3" style="margin-left:15px;">
									<input type="hidden" id="HolidayMasterId" name="Id" />
									<div class="item-input">

										<label for="HolidayDate" class="form-label">Holiday Date</label>
										<input type="text" data-provide="datepicker" class="form-control userinput date" id="datepicker" name="HolidayDate" placeholder="Select a Date" style="width:370px;	">
									</div>
									<div class="item-input">

										<label for="HolidayDescription" class="form-label">Holiday Description</label>
										<input id="HolidayDescription" name="HolidayDescription" class="form-control" required placeholder="Enter Holiday Description" style="width:370px;">
									</div>
									<div class="item-input">

										<label for="Year" class="form-label">Year</label>
										<input type="text" id="visitYear" name="Year" class="form-control yearpicker" placeholder="Select Year" style="width:370px;">
									</div>
									<div class="item-input">

										<label for="SaveWeekend" class="form-label col-form-label required fw-semibold fs-6" style="width: 159px;">
											<input type="checkbox" value="true" class="form-check-input" id="SaveWeekend" name="SaveWeekend" style="padding:8px;">  &nbsp;
											Save As Weekend
										</label>
									</div>
								</div>
								<div class="col-xl-6" style="margin-left:30px;">
									<div class="col-xl-6">
										@if (TempData["HolidaySuccessMsg"] != null)
										{
											<div class="usermsg" id="holidaytemporaryMessage">
												<span style="color:#00af00;font-weight:600;">@TempData["HolidaySuccessMsg"]</span>
											</div>
										}
										else
										{
											<div class="usermsg" id="holidaytemporaryMessage">
												<span style="color:#d21313;font-weight:600;"> @TempData["HolidayErrorMsg"]</span>
											</div>
										}
									</div>
								</div>
								<div class="d-flex gap-2" style="margin-bottom:30px; margin-left:15px;">
									<button type="submit" id="btnAdd-holiday" class="btn btn-primary">Add</button>
									<button type="submit" id="btnUpdate-holiday"
											formaction="/Master/UpdateHoliday"
											class="btn btn-primary"
											style="display:none;">
										Update
									</button>
									<button type="button" class="btn btn-primary" onclick="resetholidayForm()">Cancel</button>
								</div>
							</form>
							<div class="app-content px-lg-3" style="padding-left:0px;padding-right:0px;">
								<div class="app-container container-fluid" style="padding-left:0px;padding-right:0px;">

									<div id="holidaymasterlist">
										<div class="card com-profile-info">
											<div class="row mt-3">
											</div>

											<div class="table-top-header">
												<h4>List of HolidayMaster</h4>

												<div class="d-flex gap-2">
													<div class="table-search-box">
														<input type="text" id="holidaymasterSearch" class="form-control form-control-sm" placeholder="Search...">
														<button type="submit"><i class="ri-search-line"></i></button>
													</div>

													<div id="exportcorporateButtons" class="btn-group" role="group" style="display:none;"></div>
												</div>
											</div>
											<div class="table-responsive">

												<table id="holidaymasterTable" class="table dt-responsive nowrap w-100">
													<thead>
														<tr>
															<th>Description</th>
															<th>Date</th>
															<th>Year</th>
															<th>Is Weekend</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
												<div id="dataLoader" class=" justify-content-center" style="display:none; margin-left: 598px;">
													<div class="spinner-border" role="status">
														<span class="visually-hidden">Loading...</span>
													</div>
												</div>
											</div>
											<!-- Bottom Area -->
											<div class="datatable-footer-bottom">
												<div class="totle-left">
													<span id="totalRemindersholidaymaster">Total List: 3</span>
												</div>
												<div id="HolidayMasterPagination" class="dataTables_paginate paging_simple_numbers"></div>
												<div class="show-page">
													<span>Show per page:</span>
													<select id="HolidayMasterpageLength" class="form-select">
														<option value="5">5 </option>
														<option value="10" selected>10 </option>
														<option value="25">25</option>
														<option value="50">50</option>
														<option value="-1">All</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

@section Scripts {
	<script>
		var openPanel = "@openPanel";
		var openView  = "@openView";
		var editUrl = '@Url.Action("EditModule", "Master")' + '?id=';
		var deleteurl ='@Url.Action("DeleteModule", "Master")' + '?id=';
		var editDeptUrl = '@Url.Action("EditDepartment", "Master")' + '?id=';
		var deleteDeptUrl ='@Url.Action("DeleteDept", "Master")' + '?id=';
		var editdesignationUrl ='@Url.Action("EditDesignation", "Master")' + '?id=';
		var deletedesignationUrl ='@Url.Action("DeleteDesig", "Master")' + '?id=';
		var editleavemasterUrl = '@Url.Action("EditLeave", "Master")' + '?id=';
		var deleteleavemasterUrl ='@Url.Action("DeleteLeave", "Master")' + '?id=';
		var editholidaymasterUrl= '@Url.Action("EditHoliday", "Master")' + '?id=';
		var deleteholidaymasterUrl='@Url.Action("DeleteHoliday", "Master")' + '?id=';
	</script>
	<script src="~/js/calender.js"></script>
	<script src="~/js/mastertable.js"></script>
	<script src="~/js/msgtimeout.js"></script>
	<script src="~/js/moduleview.js"></script>
	<script src="~/js/departmentview.js"></script>
	<script src="~/js/designationview.js"></script>
	<script src="~/js/leavemaster.js"></script>
	<script src="~/js/holidaymaster.js"></script>

}
